{{define "header"}}
<!doctype html>
<html>
  <head>
    <title>{{if .Title}}{{.Title}}{{else}}Babel{{end}}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    {{if .SiteKey}}
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
    ></script>
    {{end}}
  </head>
  <body>
    <header>
      <h1>Babel</h1>
    </header>
    <main>{{end}} {{define "footer"}}</main>
    <footer>
      <p>© {{nowYear}} <a href="https://effica.ch">effical labs</a></p>
    </footer>
  </body>
</html>
{{end}}
